p {
    text-align: center;
    max-width: 600px;
    font-weight: bold;
    margin: 60px auto;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.2em;
    line-height: 1.6;
}

#map {
    height: 400px;
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
    border-radius: 10px;
    overflow: hidden;
    border: 5px dotted rgb(137, 93, 150);
}
.intro {
    text-align: center;
    margin: 20px 0;
    color: black;
    font-weight: bold;
}
iframe {
    width: 100%;
    height: 100%;
    border: 0;
}



.start{
    margin-left: 1em;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: -5px;
  }
  .logoback{
    display: flex;
    flex-shrink: 0;
    height: 90px;
    width: 90px;
    background-image: linear-gradient(to bottom right,rgb(226, 152, 77), rgb(203, 95, 93),  rgb(137, 93, 150), rgb(245, 203, 67),  rgb(68, 95, 147), rgb(84, 177, 132));
        -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            margin-left: calc(7% - 50px);
 }
 .logoback div{
    width: 80px;
    height: 80px;
    background: url('../assets/img/product-image.webp') no-repeat center;
    background-size: cover;
    margin: auto;
 }

h1 {
    margin-left: 1em;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 35px;
}
body{
    background-color: #fff;
}
.boody {
font-family: Arial, sans-serif;
background-color: rgba(68, 95, 147, 0.05);
color: black;
width: calc(90% - 140px);
margin: 0 auto;
padding: 20px;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

header {
position: absolute;
height: 100px;
left: 0;
right: 0;
top: 0;
background-color: rgb(68, 95, 147); /* Основной цвет фона */
color: rgb(255, 255, 255);
text-align: center;
padding: 10px 0;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
list-style-type: none;
padding: 0;
margin: 0;
display: flex;
justify-content: center;
}

nav ul li {
margin: 0 15px;
font-size: 20px;
}

nav ul li a:hover {
    color: rgb(84, 177, 132);
}

nav ul li a {
color: white;
text-decoration: none;
transition: color 0.3s;
}

.scroll-to-top {
    position: fixed;
    bottom: 30px;
    left: 20px;
    width: 100px ;
    height: 50px;
    display: none; /* Скрыта по умолчанию */
    background-color: rgb(68, 95, 147); /* Цвет фона */
    color: white; /* Цвет текста */
    border: none; /* Без рамки */
    border-radius: 5px; /* Закругленные углы */
    padding: 10px 15px; /* Отступы */
    font-size: 1.2em; /* Размер шрифта */
    cursor: pointer; /* Курсор при наведении */
    transition: color 0.3s; /* Плавный переход цвета фона */
    z-index: 9999;
}
.scroll-to-top:hover {
    color: rgb(84, 177, 132);
}

.location {
font-weight: bold;
color: rgb(84, 177, 132); 
}

.helper {
height: 110px;
}


.navigation-panel {
    display: flex;
    justify-content: space-between;
    background-color: rgb(203, 95, 93); /* Цвет панели */
    padding: 20px 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
    margin-top: 20px;
    font-size: 1em;
    align-items: top;
    flex-wrap: wrap;
}
.spec li::before{
    content: "👉";
}
.pay{
    display: flex;
    width: 250px;
    flex-wrap: wrap;
}
.pay img{
    width: 50px;
    padding: 5px;
}
.loc{
    width: 50px;
    padding: 5px;
}

.panel {
    padding: 10px;
}

.navigation-panel h3 {
    margin-bottom: 10px;
}

.navigation-panel ul {
    list-style-type: none;
    padding: 0;
}

.navigation-panel ul li {
    margin-bottom: 5px;
}

.navigation-panel a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navigation-panel a:hover {
    text-decoration: underline;
}
#textForm {
    background: rgb(203, 95, 93);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
}
textarea {
    width: 230px;
    height: 25px;
    background-color: rgb(137, 93, 150);
    color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    resize: none;
    font-size: 18px;
}
textarea::placeholder{
    color: white;
    opacity: 1;
}

#textInputt {
    background-color: rgb(137, 93, 150);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 1em;
    transition: color 0.3s;
    width: 252px;
    border: 1px solid #ccc;
    }
    
    #textInputt:hover {
        color: rgb(84, 177, 132);
        font-weight: bold;
    }

.information {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 30px;
    background-color: rgb(84, 177, 132);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.whatsapp {
    width: 50px;
    height: 50px;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-size: 20px;
}
#dropdown-button {
    background:none;
    color: rgb(84, 177, 132);
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 2px;
    background-color: rgba(255, 255, 255, 0.9);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    transition: color 0.3s;
}
.dropdown-content a:hover {
    color: rgb(84, 177, 132);;
}
.show {
    display: block;
}

@media (min-width: 768px) {
    .mob{
        display: none;
    }
}
@media (max-width: 768px) {
    .pc{
        display: none;
    }
}


@media (max-width: 1130px) {
    .boody{
        width: calc(90% - 110px);
    }
    }
    @media (max-width: 1106px) {
        .boody{
            width: calc(90% - 80px);
        }
        }
    @media (max-width: 1065px) {
            .boody{
                width: calc(90%);
            }
            }
           
            @media (max-width: 969px) {
                .v{
                    width: 220px;
                }
                #textForm {
                    width: 150px;
                }
                textarea {
                    width: 130px;
                }
                #textInputt {
                    width: 152px;
                }
            }


            @media (min-width: 1065px) {
                .scroll-to-top span {
                    display: none;
                }
            }
            @media (max-width: 1065px) {
                .scroll-to-top em {
                    display: none;
                }
            }

            @media (max-width: 1130px) {
                .scroll-to-top {
                    left: 10px;
                    width: 80px ;
                    padding: 5px 5px;
                    height: 40px;
                }
                .information{
                    right: 20px;
                }
            }
            @media (max-width: 1065px) {
                .information{
                    right: 10px;
                    width: 40px;
                    height: 40px;
                }
                .whatsapp {
                    width: 40px;
                    height: 40px;
                }
                .scroll-to-top {
                    left: 10px;
                    width: 40px;
                    padding: 0 0;
                    height: 40px;
                    border-radius: 50%;
                }
                }
                @media (max-width: 768px) {
                    .information{
                        position: absolute;
                        top: 28px;
                        right: 30px;
                    }
                }
                @media (max-width: 600px) {
                    .scroll-to-top {
                        left: 7px;
                        bottom: 15px;
                    }
                }
    